In [ ]:
#1

In [ ]:
print("Starting Python Exam.....")
print("Group 1")

Starting Python Exam.....
Group 1

In [ ]:
# 2

In [ ]:
y=(10-2)*3

In [ ]:
print(y)

24

In [ ]:
# 3

In [ ]:
string = 456
string = int(string)
string = string - 20

In [ ]:
print(string)

436

In [ ]:
# 4

In [ ]:
#Dictionaries store data in key,value pairs. Each key is unique and associated with a specific value.

In [ ]:
Fruits={"apple":10, "mango":20}

In [ ]:
# A list is a ordered sequence of elements.

In [ ]:
Mylist=["apple", "mango",10,"Eight"]

In [ ]:
# 5

In [ ]:
number = int(input("Enter a number: "))

if number % 2 == 0:
    print(f"{number} is even.")
else:
    print(f"{number} is odd.")

Enter a number: 3
3 is odd.

In [ ]:
#6

In [ ]:
status = "Non-zero" if x != 0 else "zero"

In [ ]:
print(status)

Non-zero

In [ ]:
# 7

In [ ]:
for i in range(1, 16):
    if i % 4 != 0:
        print(i)

1
2
3
5
6
7
9
10
11
13
14
15

In [ ]:
#8

In [ ]:
def divide_numbers(a, b):

    try:
        result = a / b
        return result
    except ZeroDivisionError:
        return "Error: Division by zero is not allowed."

In [ ]:
a = int(input("Enter the numerator: "))
b = int(input("Enter the denominator: "))

Enter the numerator: 35
Enter the denominator: 6

In [ ]:
division_result = divide_numbers(a, b)
print(division_result)

5.833333333333333

In [ ]:
# 9
# function argument and function return value with examples
#Function : arguments are values you pass into a function when you call it.
#Arguments: These are passed in the order they are defined in the function.

In [ ]:
def greet(name):  # name is the argument
    print("Hello, " + name + "!")

In [ ]:
def add(a, b):
    result = a + b
    return result  # result is the return value

In [ ]:
# 10

In [ ]:
def greet (name="Guest"): # This line defines a function called greet
    return f"Hello ,{name}!" #Inside the function, this line creates and returns a greeting string.
print (greet())    #This line calls the greet function without providing any arguments.
print (greet("Alice")) #This line calls the greet function with the argument "Alice".

Hello ,Guest!
Hello ,Alice!

In [ ]:
# 11

In [ ]:
Mycoulours = ["red", "blue", "green", "yellow", "orange"]
Mycoulours[-1]

'orange'

In [ ]:
# 12

In [ ]:
employee = {"name": "jordan", "position": "manager", "salary": "75000"}

In [ ]:
employee["salary"] = 80000

In [ ]:
employee["department"] = "sales"

In [ ]:
print(employee)

{'name': 'jordan', 'position': 'manager', 'salary': 80000, 'department': 'sales'}

In [ ]:
# 13

In [ ]:
with open("data.text", "w") as file:
 file.write("python Exam- Group 0222221")

with open("data.text", "r") as file:

    content = file.read()

    print(content)

python Exam- Group 0222221

In [ ]:
#14

In [ ]:
class Appliances:
    def __init__(self, brand, power):
        self.brand = brand
        self.power = power

    def show_details(self):
        print(f"Brand: {self.brand}, Power: {self.power}")


class WashingMachine(Appliances):
    def __init__(self, brand, power, capacity):
        super().__init__(brand, power)
        self.capacity = capacity

    def show_details(self):
        super().show_details()
        print(f"Capacity: {self.capacity}")

In [ ]:
appliance = Appliances("Sonny", "100W")
appliance.show_details()

Brand: Sonny, Power: 100W

In [ ]:
washing_machine = WashingMachine("Whirlpool", "1500W", "8kg")
washing_machine.show_details()

Brand: Whirlpool, Power: 1500W
Capacity: 8kg

In [ ]:
class Appliances:
    def __init__(self, brand, power):
        self.brand = brand
        self.power = power

    def show_details(self):
        print(f"Brand: {self.brand}, Power: {self.power}")


class WashingMachine(Appliances):
    def __init__(self, brand, power, capacity):
        super().__init__(brand, power)
        self.capacity = capacity

    def show_details(self):
        super().show_details()
        print(f"Capacity: {self.capacity}")

class SmartWashingMachine(WashingMachine):
    def __init__(self, brand, power, capacity, wifi_enabled):
        super().__init__(brand, power, capacity)
        self.wifi_enabled = wifi_enabled

    def show_details(self):
        super().show_details()
        print(f"WiFi Enabled: {self.wifi_enabled}")

In [ ]:
smart_washing_machine = SmartWashingMachine("Samsung", "1600W", "9kg", True)

In [ ]:
smart_washing_machine.show_details()

Brand: Samsung, Power: 1600W
Capacity: 9kg
WiFi Enabled: True

In [ ]:
#16

In [ ]:
def fibonacci(n):
    if n < 0:
        raise ValueError("Input must be a non-negative integer")
    elif n <= 1:
        return n  # Return n if n is 0 or 1
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)

In [ ]:
print (fibonacci(10))

55